.paragraphs__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .paragraphs__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .paragraphs__paragraph {
    padding: 0 16px;
  }
}
