.lead__title{
    width: 720px;
    margin: 56px auto 0;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 1278px) {
    .lead__title{    
        margin-top: 48px;
    }
}    

@media screen and (max-width: 767px) {
    .lead__title{    
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}    