.website__url-heading {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
}

@media screen and (max-width: 1023px) {
  .website__url-heading {
    line-height: 12px;
  }
}
